.usercontent {
    width: max-width;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: Roboto;
    margin: 0 15.5%;
}
.inlineheader {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.headers {
    margin-left: -52px;
    width: 70px;
    height: 33px;
    text-align: left;
    font: normal normal normal 25px/33px Roboto;
    font-family: normal normal normal Roboto;
    display: flex;
}
.headers span{
    color:grey;
    font-size: 13px;
    margin-top: 4px;
}
.select{
    width: 150px;
    height: 25px;
    margin-right: -35px;
    /* borde0: 1px solid #E2E2E2;
    border-radius: 1px; */
}
#demo-simple-select-outlined {
    width: 113px;
    height: 5px;
    
}

.books {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 110%;
    margin-left: -6%;
    margin-top: 3%;
}
.showbooks {
    width: 235px;;
    height: 275px;
    box-sizing: border-box;
    border: 1px solid #e2e2e2;
    background: white;
    margin: 10px;
    /* background: #000000 0% 0% no-repeat padding-box; */
    border-radius: 3px;
    /* opacity: 0.09; */
    
}
.showbooks:hover{
    cursor: pointer;
    box-shadow: 10px 10px 10px 10px rgba(92,99,105,.2);
}

.bookimage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 233px;
    height: 172px;
    box-sizing: border-box;
    background-color: #e2e2e2;
}
.bookimage img {
    width: 109px;
    height: 135px;
}
.bookname{
    top: 327px;
    left: 191px;
    width: 130px;
    height: 19px;
    text-align: left;
    font:normal normal bold 14px/19px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}
.content {
    padding: 10px;
}
.author {
    top: 349px;
    left: 191px;
    /* width: 63px; */
    height: 13px;
    text-align: left;
    font: normal normal normal 12px/16px  Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}
.price {
    margin-top: 6px;
    left: 191px;
    width: 48px;
    height: 16px;
    /* padding-bottom: 1px; */
    font: normal normal bold 14px/19px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
}
.rating {
    display: flex;
    margin-top: 07px;
    left: 191px;
    width: 33px;
    height: 16px;
    background: #388e3c 0% 0% no-repeat padding-box;
    border-radius: 1px;
    opacity: 1;
    text-align: left;
    font: normal normal bold 10px/13px Roboto;
    letter-spacing: 0px;
    color: #fff;
    opacity: 1;
}
.rate {
    margin-left: 16%;
    margin-top: 5%;
    font: normal normal bold 10px/13px Roboto;
    letter-spacing: 0px;
}
.inlinebuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.addtobag {
    width: 50px;
    height: 25px;
    padding: 8px;
    background-color: #a03037;
    font-size: 10px;
}
.wishlist {
    width: 50px;
    height: 25px;
    padding: 8px;
    color: black;
    background: white;
    font-size: 10px;
}
.addedtobag {
    background-color: #3371b5;
    height: 25px;
    color: white;
}
.paginationBlock {
    margin-left: 27%;
    margin-top: 47%;
    position:absolute;
}
@media only screen and (max-width: 600px){
    .showbooks {
        width: auto;
        height: auto;
    }
    .headers{
        margin-left: 80px;
    }   
}
@media only screen and (max-width: 360px) {

    /* .paginationBlock {
     margin-top: 600%;
     margin-left: 30px;
    } */
    .showbooks {
        width: auto;
        height: auto;
    }
    .headers {
        justify-content: center;
        text-align: center;
        margin-left: 80px;
    }    
}