* {
    margin: 0;
    padding: 0;
    width: auto;
}
.appbar {
    width: 100%;
    height: 70px;
    background-color: #a03037;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.appbar div{
    display: flex;
    margin-left: 12%;
    width: 70%;
}

.appbar div img{
    width: 30px;
    height: 30px;
}
.appbar div p{
    color: white;
    margin-left: 2%;
    font-size: 20px;
    width: auto;
}
.input{
    width: 510px!important;
    height: 33px;
    border-radius: 3px;
    align-content: center;
    background:#FCFCFC 0% 0% no-repeat padding-box;
    align-items: center;
    opacity: 1;
}
.appbar .input .searchicon {
    color: grey;
}
.appbar .input input {
    height: 29px;
    outline: none;
    border-radius: 3px;
    border: none;
    margin-left: 2%;
}
.icons{
    display:  flex;
    justify-content: flex-start;
    /* width: 20%; */
    margin-left: 22%!important;
}
.appbar div .pro {
    color: white;
    display: flex;
    flex-direction: column;
    width: auto;
    cursor: pointer;
}
.appbar div .pro .proicon {
    color: white;
    margin-left: 10px;
}
.appbar div .cart {
    color: white;
    display: flex;
    flex-direction: column;
    width: auto;
    cursor: pointer;
}
.appbar div .cart .carticon {
    color: white;
    margin-left: 4px;
}
.badge{
    color: #FCFCFC;
}
@media screen and (max-width: 360px) {
     .appbar {
        width:100%;
        justify-content: none;
   }
    .input{
        width:100%;
    }
    .appbar div .pro {
      margin-left:-30px;
      font-size:15px
   }
     .appbar div p {
        display: none;
   } 
   .appbar .input input {
       width: 100%;
   }
   .appbar div img{
       width:30px
   }
   .appbar div .pro .proicon{
       width:25px
   }
   .appbar div .cart .carticon{
       width:25px;
   }
   .appbar div .cart{
    font-size:15px;
    margin-left: -10px;
    padding:1px
   }
   .appbar .input .searchicon{
       margin-left: -10px;
   }
}